---
title: Drop rates simulator
weight: 10
---

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

<form class="form-horizontal"
			data-income="{{ site.data.values.daily_income }}"
			data-arena-time="{{ site.data.values.arena_time }}"
			data-adventure-time="{{ site.data.values.adventure_time }}"
			data-refresh-cost="{{ site.data.values.refresh_cost }}"
			data-token-rate="{{ site.data.values.token_rate }}"
			data-adventure-drop-rate="{{ site.data.values.adventure_drop_rate }}"
			data-adventure-gold-per-energy="{{ site.data.values.adventure_gold_per_energy }}"
			data-adventure-energy-per-island="{{ site.data.values.adventure_energy_per_island }}"
>
	<div class="row"><div class="col-md-6">
	<div class="form-group">
		<label for="arena_level" class="col-sm-6 control-label">Arena Level:</label>
	    <div class="col-sm-6">
			<select id="arena_level" class="form-control">{% for item in site.data.values.arena_gold_per_energy %}
				{% assign level = item[0] %}
				{% assign label = item[1] %}
				<option {% if site.data.values.defaults.arena_level == label %}selected=selected {% endif %}
					value="{{ level }}">{{ label }}</option>
			{% endfor %}</select>
		</div>

		<label for="ads_bonus" class="col-sm-6 control-label">Active ads bonus:</label>
	    <div class="col-sm-6">
			<select id="ads_bonus" class="form-control">{% for item in site.data.values.ads_bonus %}
				{% assign level = item[0] %}
				{% assign label = item[1] %}
				<option {% if site.data.values.defaults.ads_level == label %}selected=selected {% endif %}
					value="{{ level }}">{{ label }}</option>
			{% endfor %}</select>
		</div>


		<label for="guild_level" class="col-sm-6 control-label">Active guild members:</label>
	    <div class="col-sm-6">
			<select id="guild_level" class="form-control">{% for item in site.data.values.guild_bonus %}
				{% assign level = item[0] %}
				{% assign label = item[1] %}
				<option {% if site.data.values.defaults.guild_level == label %}selected=selected {% endif %}
					value="{{ level }}">{{ label }}</option>
			{% endfor %}</select>
		</div>

		<label for="win_rate" class="col-sm-6 control-label">Arena win rate:</label>
	    <div class="col-sm-6">
			<select id="win_rate" class="form-control">{% for item in site.data.values.win_rates %}
				{% assign level = item[0] %}
				{% assign label = item[1] %}
				<option {% if site.data.values.defaults.win_rate == level %}selected=selected {% endif %}
					value="{{ level }}">{{ label }}</option>
			{% endfor %}</select>
		</div>

    </div></div>
	<div class="col-md-6"><div class="form-group">
		<label>Max out selected heroes:</label>
		<p>
		<label class="checkbox-inline" style="display:none"><!-- bootstrap bug--></label>
		{% for name in site.data.values.heroes %}
		<label class="checkbox-inline">
			<input type="checkbox" name="heroes[]" value="{{ name }}" {% if site.data.values.defaults.heroes contains name %} checked=checked{% endif %}> 
			{{ name }}
		</label>
		{% endfor %}
	</div>
	</div></div>
	<div class="form-group text-center">
		<button type="submit" class="btn btn-default">Simulate</button>
		{% for item in site.data.values.crates %}
		<cb-crate p="{{ item[0] }}" gold="{{ item[1].gold }}" adventure="{{ item[1].adventure }}" arena="{{ item[1].arena }}" ></cb-crate>
		{% endfor %}
	</div>

	<div id=result class="container-fluid"></div>

	<script type="text/javascript">(function (form, result) {
		var income = parseInt(form.dataset['income']);
		var arenaTime = parseInt(form.dataset['arenaTime']);
		var adventureTime = parseInt(form.dataset['adventureTime']);
		var refreshCost = parseInt(form.dataset['refreshCost']);
		var tokenRate = parseFloat(form.dataset['tokenRate']);
		var adventureDropRate = parseFloat(form.dataset['adventureDropRate']);
		var adventureGoldPerEnergy = parseInt(form.dataset['adventureGoldPerEnergy']);
		var adventureEnergyPerIsland = parseInt(form.dataset['adventureEnergyPerIsland']);

		var crates = [].slice.apply(form.getElementsByTagName('cb-crate')).map(function (crate) {
			return {
				p: parseFloat(crate.attributes['p'].value),
				gold: parseInt(crate.attributes['gold'].value),
				adventure: parseInt(crate.attributes['adventure'].value),
				arena: parseInt(crate.attributes['arena'].value),
			}
		});

		function displayCoins(v) {
			return v.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1&nbsp;");
		}

		function chance(rate) {
			return rate >= Math.random();
		}

		form.onsubmit = function (e) {
			var adsBonus = parseFloat(form.ads_bonus.value);
			var guildBonus = parseFloat(form.guild_level.value);
			var arenaGold = parseInt(form.arena_level.value) * (adsBonus + guildBonus);
			var arenaLevel = form.arena_level.selectedOptions[0].innerText;
			var islandGold = adventureGoldPerEnergy * adventureEnergyPerIsland * adsBonus;
			var winRate = parseFloat(form.win_rate.value);

			var heroesAll = [].slice.apply(form.querySelectorAll('[name="heroes[]"]'));
			var heroes = heroesAll
				.map(function (c) { return c.checked && c.value; })
				.filter(function (s) { return !!s; });

			var days = 7;
			var minutes = days * 24 * 60;

			var battles = Math.floor(minutes / arenaTime);
			var adventureEnergy = Math.floor(minutes / adventureTime);

			var balance = 0;
			var arenaWon = 0;
			var refreshesStats = {};
	
			var status = "";

			status += '<p class="alert alert-info">'
				+ "Playing Arena level <code>" + arenaLevel + "</code> for <code>" + days + "</code> days "
				+ "(<code>" + battles + "</code> battles plus refils). "
				+ "Battle reward is <code>" + arenaGold + "</code> gold<br>";

			if (heroes.length) {
				status += "Refreshing for <code>" + refreshCost + "</code> coins until ";
				if (1 !== heroes.length) { 
					status += "one of "
				} 

				status += "<code>" + heroes.join(", ") + "</code> is picked<br>";
			}

			status += "Farming islands 1-5 for <code>" + islandGold + "</code> gold each</p>";

			for (var i = 1; i <= days * 3; i++) {
				var random = Math.random();
				for (var c, j = 0; c = crates[j]; j++) {
					if (c.p >= random) {
						battles += c.arena;
						adventureEnergy += c.adventure;
						balance += c.gold;

						break;
					}
				}
			}
	
			for (var nbRefreshes, i = 1; i <= battles; i++) {
				nbRefreshes = 0;
				while (heroes.length && false === chance(heroes.length / heroesAll.length)) {
					// refresh
					balance -= refreshCost;
					nbRefreshes++;
				}
			
				refreshesStats[nbRefreshes] = 1 + (refreshesStats[nbRefreshes] || 0);
		
				balance += arenaGold * (chance(winRate) ? Math.sign(++arenaWon) : 0.1);
			}
	
			// adventure
			var dustDrops = 0;
			var epicDrops = 0;
			for (var i = 0; i <= Math.floor(adventureEnergy / adventureEnergyPerIsland); i++) {
				balance += islandGold;
		
				if (chance(adventureDropRate * adsBonus)) {
					switch (Math.floor(Math.random()*9) + 1) {
						// commons
						case 1: case 2:
							dustDrops += 1;
							break;
						// common Giggity and Rares
						case 3: case 4: case 5:
							dustDrops += 5;
							break;
						// Rare Giggity
						case 6:
							dustDrops += 25;
							break;

						// Epics
						case 7: case 8:
							epicDrops += 1;
							break;
					
						// Epic dust!
						case 9:
							dustDrops += 50;
							break;
					}
				}
			}
	

			status += "<hr>";
	
			var medianRefCount = 0;
			var medianRefValue = 0;
			var maxRefValue = 0;

			for (var value in refreshesStats) {
				if (refreshesStats.hasOwnProperty(value)) {
					maxRefValue = Math.max(maxRefValue, value);
				}

				if (refreshesStats[value] > medianRefCount) {
					medianRefCount = refreshesStats[value];
					medianRefValue = value;
				}
			}

			var wonPercent = Math.round(arenaWon / battles * 100);
			var tokens = Math.floor(arenaWon * tokenRate * adsBonus * (Math.random() * 0.2 + 0.9));
			var tokenTargets = Math.round(tokens / (heroes.length || heroesAll.length));

			status += '<div class="jumbotron">'
				+ "<h1>" + arenaWon + "</h1> <p> battles won (<code>" + wonPercent + "%</code>)</p>"
				+ "<h1>" + tokens + "</h1> <p>tokens collected";

			if (1 !== heroes.length) {
				status += " (average <code>" + tokenTargets + "</code> per hero)";
			}

			if (heroes.length) {
				status += "<h1>" + medianRefValue + "</h1>" 
					+ "<p>most common numer of refreshes needed (<code>" + medianRefCount + "</code> times), "
					+ "and never more than <code>" + maxRefValue + "</code></p>";
			}

			status += "<h1>" + epicDrops + "</h1>" 
				+ "<p>epic cards collected in the adventure, along with <code>" + dustDrops + "</code> Giggity</p>";

			status += "<h1>" + displayCoins(balance) + "</h1>"
				+ "<p>expected coin balance<p>";
	
			result.innerHTML = status;

			return false;
		}

	})(document.forms[0], document.getElementById('result'));
	</script>
</form>
